CREATE DATABASE [CarShowRoom2]
GO
USE [CarShowRoom2]
GO
/****** Object:  Table [dbo].[BienSo]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienSo](
	[BienSoXe] [nvarchar](128) NOT NULL,
	[MaXe] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BienSo] PRIMARY KEY CLUSTERED 
(
	[BienSoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaXe] [int] NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangXe]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXe](
	[MaHangXe] [int] IDENTITY(1,1) NOT NULL,
	[TenHangXe] [nvarchar](max) NOT NULL,
	[Quocgia] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.HangXe] PRIMARY KEY CLUSTERED 
(
	[MaHangXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhan] [datetime] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[HinhThucThanhToan] [int] NOT NULL,
	[TrangThaiThanhToan] [int] NOT NULL,
	[TongThanhTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaKhachHang] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[NamSinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SoTaiKhoan] [nvarchar](11) NOT NULL,
	[NganHang] [nvarchar](20) NULL,
	[CMND] [nvarchar](9) NOT NULL,
	[SoDienThoai] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_dbo.KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[post]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[topid] [int] NULL,
	[title] [nvarchar](max) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[detail] [ntext] NULL,
	[img] [varchar](255) NULL,
	[descriptionShort] [nvarchar](max) NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[QuyenHan] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[topic]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[parentid] [int] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 5/6/2021 11:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [int] IDENTITY(1,1) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[SoCho] [int] NOT NULL,
	[PhienBan] [nvarchar](max) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaChoThue] [decimal](18, 2) NOT NULL,
	[SoLuongXe] [int] NOT NULL,
	[ChiTietXe] [ntext] NOT NULL,
	[SoLuongXeDaThue] [int] NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MaHangXe] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Xe] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[BienSo] ([BienSoXe], [MaXe]) VALUES (N'29-F1 11234', 4)
INSERT [dbo].[BienSo] ([BienSoXe], [MaXe]) VALUES (N'29-F1 12345', 4)
INSERT [dbo].[BienSo] ([BienSoXe], [MaXe]) VALUES (N'29-F1 21354', 4)
INSERT [dbo].[ChiTietHoaDon] ([MaXe], [MaHoaDon], [SoLuong], [GhiChu], [ThanhTien]) VALUES (3, 2, 1, NULL, CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaXe], [MaHoaDon], [SoLuong], [GhiChu], [ThanhTien]) VALUES (3, 10, 1, NULL, CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaXe], [MaHoaDon], [SoLuong], [GhiChu], [ThanhTien]) VALUES (3, 16, 1, NULL, CAST(5000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HangXe] ON 

INSERT [dbo].[HangXe] ([MaHangXe], [TenHangXe], [Quocgia]) VALUES (1, N'Lamborghini', N'Italy')
INSERT [dbo].[HangXe] ([MaHangXe], [TenHangXe], [Quocgia]) VALUES (2, N'Toyota', N'Japan')
INSERT [dbo].[HangXe] ([MaHangXe], [TenHangXe], [Quocgia]) VALUES (3, N'Vin Fast', N'VietNam')
SET IDENTITY_INSERT [dbo].[HangXe] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayNhan], [NgayTra], [HinhThucThanhToan], [TrangThaiThanhToan], [TongThanhTien], [GhiChu], [MaKhachHang]) VALUES (1, CAST(0x0000AD1400000000 AS DateTime), CAST(0x0000AD1400000000 AS DateTime), 1, 1, CAST(20000000000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayNhan], [NgayTra], [HinhThucThanhToan], [TrangThaiThanhToan], [TongThanhTien], [GhiChu], [MaKhachHang]) VALUES (2, CAST(0x0000AD1400000000 AS DateTime), CAST(0x0000AD1400000000 AS DateTime), 4, 1, CAST(6000000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayNhan], [NgayTra], [HinhThucThanhToan], [TrangThaiThanhToan], [TongThanhTien], [GhiChu], [MaKhachHang]) VALUES (3, CAST(0x0000AD1400000000 AS DateTime), CAST(0x0000AD1400000000 AS DateTime), 4, 1, CAST(2000000.00 AS Decimal(18, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [NamSinh], [DiaChi], [SoTaiKhoan], [NganHang], [CMND], [SoDienThoai]) VALUES (1, N'Nguyễn văn admin', CAST(0x00008A6500000000 AS DateTime), N'Hà Nội', N'12331311', N'TpBank', N'12356731', N'1234267')
SET IDENTITY_INSERT [dbo].[post] ON 

SET IDENTITY_INSERT [dbo].[post] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau], [QuyenHan]) VALUES (1, N'admin', N'123456', 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau], [QuyenHan]) VALUES (2, N'Khachhang1', N'123456', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[topic] ON 

INSERT [dbo].[topic] ([ID], [name], [slug], [parentid], [status]) VALUES (1, N'Giới thiệu', N'gioi-thieu', 0, 1)
INSERT [dbo].[topic] ([ID], [name], [slug], [parentid], [status]) VALUES (2, N'Blog111', N'blog111', 0, 1)
SET IDENTITY_INSERT [dbo].[topic] OFF
SET IDENTITY_INSERT [dbo].[Xe] ON 

SET IDENTITY_INSERT [dbo].[Xe] OFF
ALTER TABLE [dbo].[BienSo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BienSo_dbo.Xe_MaXe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienSo] CHECK CONSTRAINT [FK_dbo.BienSo_dbo.Xe_MaXe]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_MaHoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_MaHoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.Xe_MaXe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.Xe_MaXe]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDon_dbo.KhachHang_MaKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_dbo.HoaDon_dbo.KhachHang_MaKhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KhachHang_dbo.TaiKhoan_MaKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_dbo.KhachHang_dbo.TaiKhoan_MaKhachHang]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Xe_dbo.HangXe_MaHangXe] FOREIGN KEY([MaHangXe])
REFERENCES [dbo].[HangXe] ([MaHangXe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_dbo.Xe_dbo.HangXe_MaHangXe]
GO
