
@{
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | jeweler - Material Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/owl.carousel.css">
    <link rel="stylesheet" href="~/App_Themes/admin/css/owl.theme.css">
    <link rel="stylesheet" href="~/App_Themes/admin/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/normalize.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/morrisjs./morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/App_Themes/admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/App_Themes/admin/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/form/all-type-forms.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/App_Themes/admin/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="color-line"></div>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center m-b-md custom-login">
                    <h3>Đăng nhập</h3>
                    <p>Đăng nhập vào Trang quản trị!</p>
                </div>
                @using (Html.BeginForm("login", "auth", FormMethod.Post))
                {
                    <div class="hpanel">
                        <div class="panel-body">
                            <form action="#" id="loginForm">
                                <div class="form-group">
                                    <label class="control-label" for="username">Tên đăng nhập</label>
                                    <input autocomplete="off" type="text" placeholder="Tên tài khoản" title="Please enter you username" required="" value="" name="tenTaiKhoan" id="tenTaiKhoan" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Mật khẩu</label>
                                    <input autocomplete="off" type="password" title="Please enter your password" placeholder="******" required="" value="" name="matKhau" id="matKhau" class="form-control">
                                </div>
                                <input type="submit" class="btn btn-success btn-block loginbtn" value="Đăng nhập" />
                              
                                <div>
                                    <p style="color:red;text-align:center;font-weight:bold">@TempData["ThongBaoLoi"] </p>
                                </div>
                            </form>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        </div>

    </div>

    <!-- jquery
        ============================================ -->
    <script src="~/App_Themes/admin/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/App_Themes/admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/App_Themes/admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/icheck/icheck.min.js"></script>
    <script src="~/App_Themes/admin/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/App_Themes/admin/js/main.js"></script>
</body>

</html>